.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 200px auto;
    grid-template-areas:
        'header    header    header    header    header    header    header    header    header    header    header    header'
        'user      main      main      main      main      main      main      main      main      main      main      main'
        'sidebar   main      main      main      main      main      main      main      main      main      main      main'
        'sidebar   main      main      main      main      main      main      main      main      main      main      main'
        'sidebar   main      main      main      main      main      main      main      main      main      main      main'
        'sidebar   main      main      main      main      main      main      main      main      main      main      main'
        'sidebar   main      main      main      main      main      main      main      main      main      main      main'
        'sidebar   footer    footer    footer    footer    footer    footer    footer    footer    footer    footer    footer';
    gap: 10px;
    height: 90vh;
}

.header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.current-user {
    grid-area: user;
    overflow: scroll;
    word-wrap: break-word;
}

.users {
    grid-area: sidebar;
}

.user-icon {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.chat-window {
    grid-area: main;
    background-color: #fff;
    overflow-y: auto;
    /* Scrollable content */
    display: flex;
    flex-direction: column;
}

.chat-window .message:first-child {
    margin: 0;
}

.message {
    background-color: #e1ffc7;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 60%;
}